+++
title = "ready4"
linkTitle =  "ready4"
+++

{{< blocks/cover color = "white"  >}}
<div class="mx-auto">
<div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            A framework for <br />
                            modular, open source<br />
                            computational models<br />
                            in youth mental health
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
          </div>
            {{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
ready4 provides tools to support the three main parts of an open source computational modelling project.

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fa-lightbulb" title="Develop Models" url="/docs/develop-models" %}}
Abstract and generalised representations of systems are written in computer code. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Add Data" url="/docs/add-data" %}}
Models are tailored to a specific decision context and set of assumptions by adding relevant data.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Apply Models" url="/docs/apply-models" %}}
Models are applied to data to generate insight.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">ready4 has been developed for the following types of user, all of whom can benefit from and contribute to this project.</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Developers" url="https://github.com/google/docsy-example" %}}
Apply your skills to test, refine and extend our software.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Modellers"  %}}
Develop research plans that use and enhance our toolkits.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Planners" url="https://twitter.com/mph_economist" %}}
Test our decision aids.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">The following groups can also make important contributions to this project.</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Young people" %}}
Participate in our research and help shape our priorities.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Funders" url="https://twitter.com/mph_economist" %}}
Accelerate our development.
{{% /blocks/feature %}}

{{< /blocks/section >}}
