+++
title = "ready4"
linkTitle = "ready4"

+++

{{< blocks/cover title="Open source youth mental health models" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
		Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"> </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ready4 is an open source project to develop and combine reference models of systems shaping the mental health and wellbeing of young people.

{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="People" %}}
Modelling the characteristics, relationships, behaviours, risk factors and outcomes of young people.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Places" url="https://github.com/google/docsy-example" %}}
Modelling demographic, environmental and proximity drivers of access, equity and outcomes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Platforms" url="https://twitter.com/mph_economist" %}}
Modelling the optimal staffing and configuration of support services for young people.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Programs" url="https://twitter.com/mph_economist" %}}
Modelling the affordability, value for money and appropriate targeting of interventions for young people.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">We provide three categories of open source tools.</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}

{{< cardpane >}}

  {{< card header="Models" >}}
    Models are abstract and generalised representations of systems described in "modules" of computer code. Modules can be combined to model more extensive systems.
  {{< /card >}}
  {{< card header="Data" >}}
    Models can be applied to a specific decision context by feeding them data that describe that context.
  {{< /card >}}
  {{< card header="Analyses" >}}
    Each analaysis applies a model to a dataset, generating insight that can be used to help improve the lives of young people.
  {{< /card >}}
{{< /cardpane >}}

{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">As an open source project, we welcome your contributions!</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Young people" %}}
Participate in our research and help shape our priorities.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Developers" url="https://github.com/google/docsy-example" %}}
Apply your skills to test, refine and extend our software.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Researchers"  %}}
Develop research plans that use and enhance our toolkits.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Planners" url="https://twitter.com/mph_economist" %}}
Test our decision aids.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Funders" url="https://twitter.com/mph_economist" %}}
Accelerate our development.
{{% /blocks/feature %}}

{{< /blocks/section >}}
