+++
title = "ready4"
linkTitle = "ready4"

+++

  <div class="container">
        <div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            Open source<br />
                            framework<br />
                            for modelling<br />
                            youth mental health
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>


{{% blocks/lead color="primary" %}}
ready4 provides tools for developing, retrieving, extending and applying the three core components of an open source youth mental health modelling project.

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fa-lightbulb" title="Models" url = "docs/models/" %}}
Models are abstract and generalised representations of systems described in computer code. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Data" url="docs/data/" %}}
Data that describe a specific decision context context can be fed to models so they can be applied to that context.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Analyses" url="docs/analyses/" %}}
Analyses pair models with data, specifying which algorithms from the former are applied to the later and  generating insights to inform potential policy or service design decisions.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Our aim is to develop and combine reference models of different systems that shape the mental health and wellbeing of young people.</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}

{{< cardpane >}}

  {{< card header="People" >}}
    Modelling the characteristics, relationships, behaviours, risk factors and outcomes of young people.
  {{< /card >}}
  {{< card header="Places" >}}
   Modelling demographic, environmental and proximity drivers of access, equity and outcomes.
  {{< /card >}}
{{< /cardpane >}}

{{< cardpane >}}

  {{< card header="Platforms" >}}
    Modelling the optimal staffing and configuration of support services for young people.
  {{< /card >}}
  {{< card header="Programs" >}}
    Modelling the affordability, value for money and appropriate targeting of interventions for young people.
  {{< /card >}}
{{< /cardpane >}}

{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">As an open source project, we welcome your contributions!</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Young people" %}}
Participate in our research and help shape our priorities.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Developers" url="https://github.com/google/docsy-example" %}}
Apply your skills to test, refine and extend our software.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Researchers"  %}}
Develop research plans that use and enhance our toolkits.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Planners" url="https://twitter.com/mph_economist" %}}
Test our decision aids.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Funders" url="https://twitter.com/mph_economist" %}}
Accelerate our development.
{{% /blocks/feature %}}

{{< /blocks/section >}}
